.ToolBar{
    background-color: white;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.Button{
    border: 1px solid rgb(35, 104, 251);
    background-color: rgb(55, 112, 255);
    color:white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    box-shadow: rgba(3, 0, 92, 0.1) 0px 1px 4px;
    border-radius: 8px;
    width:auto;
    box-sizing: border-box;
    padding: 0px 23px;
    height:44px;
}

.gdsc-img{
    width: 100px;
    height: 100px;
}